
/vendor/

/tests/_data/scss/**/*.css
/tests/_data/scss/**/*.css.map
/tests/_log/
/tests/_support/_generated/
/tests/*.suite.yml
/codeception.yml

/.git-hooks.local

/phpcs.xml

/phpstan.neon

/robo.yml
/SassRoboFile.php
