parameters:
	paths:
		- ../src/
		- ../tests/
		- ../RoboFile.php
	excludePaths:
		analyseAndScan:
			- ../RoboFileAcceptance.php
			- ../tests/_log/
			- ../tests/_output/
			- ../tests/_support/_generated/
