parameters:
	ignoreErrors:
		-
			message: "#^Call to an undefined method Robo\\\\Collection\\\\CollectionBuilder\\:\\:setAssetNamePrefix\\(\\)\\.$#"
			count: 1
			path: ../RoboFile.php

		-
			message: "#^Call to an undefined method Robo\\\\Collection\\\\CollectionBuilder\\|Robo\\\\Task\\\\Filesystem\\\\FilesystemStack\\:\\:mkdir\\(\\)\\.$#"
			count: 4
			path: ../RoboFile.php

		-
			message: "#^Call to an undefined method Robo\\\\Collection\\\\CollectionBuilder\\|Sweetchuck\\\\Robo\\\\Git\\\\Task\\\\GitListStagedFilesTask\\:\\:setPaths\\(\\)\\.$#"
			count: 1
			path: ../RoboFile.php

		-
			message: "#^Call to an undefined method Robo\\\\Collection\\\\CollectionBuilder\\|Sweetchuck\\\\Robo\\\\Git\\\\Task\\\\GitReadStagedFilesTask\\:\\:setCommandOnly\\(\\)\\.$#"
			count: 1
			path: ../RoboFile.php

		-
			message: "#^Call to an undefined method Robo\\\\Collection\\\\CollectionBuilder\\|Sweetchuck\\\\Robo\\\\Phpstan\\\\Task\\\\AnalyzeTask\\:\\:setNoProgress\\(\\)\\.$#"
			count: 1
			path: ../RoboFile.php

		-
			message: "#^Call to an undefined method Sweetchuck\\\\Robo\\\\Git\\\\Task\\\\GitReadStagedFilesTask\\:\\:deferTaskConfiguration\\(\\)\\.$#"
			count: 1
			path: ../RoboFile.php

		-
			message: "#^Call to an undefined method object\\:\\:compileFile\\(\\)\\.$#"
			count: 1
			path: ../src/Task/SassCompileFilesTask.php

		-
			message: "#^Call to an undefined method object\\:\\:setComments\\(\\)\\.$#"
			count: 1
			path: ../src/Task/SassCompileFilesTask.php

		-
			message: "#^Call to an undefined method object\\:\\:setEmbed\\(\\)\\.$#"
			count: 1
			path: ../src/Task/SassCompileFilesTask.php

		-
			message: "#^Call to an undefined method object\\:\\:setIncludePath\\(\\)\\.$#"
			count: 1
			path: ../src/Task/SassCompileFilesTask.php

		-
			message: "#^Call to an undefined method object\\:\\:setMapPath\\(\\)\\.$#"
			count: 1
			path: ../src/Task/SassCompileFilesTask.php

		-
			message: "#^Call to an undefined method object\\:\\:setPrecision\\(\\)\\.$#"
			count: 1
			path: ../src/Task/SassCompileFilesTask.php

		-
			message: "#^Call to an undefined method object\\:\\:setStyle\\(\\)\\.$#"
			count: 1
			path: ../src/Task/SassCompileFilesTask.php

		-
			message: "#^Property Sweetchuck\\\\Robo\\\\Sass\\\\Task\\\\BaseTask\\:\\:\\$sass \\(Sass\\|null\\) does not accept object\\.$#"
			count: 1
			path: ../src/Task/SassCompileFilesTask.php

		-
			message: "#^Property Sweetchuck\\\\Robo\\\\Sass\\\\Task\\\\SassCompileFilesTask\\:\\:\\$includePaths \\(array\\<string, bool\\>\\) does not accept array\\<bool\\|string\\>\\.$#"
			count: 1
			path: ../src/Task/SassCompileFilesTask.php

		-
			message: "#^Property Sweetchuck\\\\Robo\\\\Sass\\\\Task\\\\SassCompileFilesTask\\:\\:\\$style \\(string\\) does not accept int\\|string\\.$#"
			count: 1
			path: ../src/Task/SassCompileFilesTask.php

		-
			message: "#^PHPDoc tag @return with type Robo\\\\Collection\\\\CollectionBuilder\\|Sweetchuck\\\\Robo\\\\Sass\\\\Task\\\\SassCompileFilesTask is not subtype of native type Robo\\\\Collection\\\\CollectionBuilder\\.$#"
			count: 1
			path: ../tests/_support/Helper/Dummy/DummyTaskBuilder.php

		-
			message: "#^Parameter \\#2 \\$commandFile of static method Robo\\\\Collection\\\\CollectionBuilder\\:\\:create\\(\\) expects Robo\\\\Tasks, null given\\.$#"
			count: 1
			path: ../tests/_support/Helper/Dummy/DummyTaskBuilder.php

		-
			message: "#^Call to an undefined method Robo\\\\Collection\\\\CollectionBuilder\\:\\:setFiles\\(\\)\\.$#"
			count: 1
			path: ../tests/_support/Helper/RoboFiles/SassRoboFile.php

		-
			message: "#^PHPDoc tag @return with type Robo\\\\Collection\\\\CollectionBuilder\\|Sweetchuck\\\\Robo\\\\Sass\\\\Task\\\\SassCompileFilesTask is not subtype of native type Robo\\\\Collection\\\\CollectionBuilder\\.$#"
			count: 1
			path: ../tests/_support/Helper/RoboFiles/SassRoboFile.php
